@import "../../style.scss";
.rightBar {
  @include themify($themes) {
    flex: 3;
    position: sticky;
    top: 70px; //accounting for the search bar
    height: calc(100vh - 70px);
    overflow: scroll; //if you have more items on your left bar it will allow for scrolling
    background-color: themed("bgSoft");
    @include mobile {
      //for mobile view
      display: none;
    }
    @include tablet {
      //for mobile view
      display: none;
    }
    &::-webkit-scrollbar {
      display: none;
    }
    .container {
      padding: 20px;
      .item {
        -webkit-box-shadow: 3px -1px 0px 12px rgba(242, 239, 242, 0.12);
        -moz-box-shadow: 3px -1px 0px 12px rgba(242, 239, 242, 0.12);
        box-shadow: 3px -1px 0px 12px rgba(242, 239, 242, 0.12);
        padding: 20px;
        margin-bottom: 20px;
        background-color: themed("bg");
        span {
          color: grey;
        }
        .user {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 20px 0;
          span {
            font-size: small;
          }
          .userInfo {
            display: flex;
            align-items: center;
            gap: 20px;
            position: relative;
            img {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              object-fit: cover;
            }
            .online {
              // online green circle
              width: 12px;
              height: 12px;
              border-radius: 50%;
              background-color: limegreen;
              position: absolute;
              top: 0;
              left: 30px;
            }
            span {
              font-weight: 500;
              color: themed("textColor");
              font-size: small;
            }
            p {
              font-size: small;
              color: themed("textColorSoft");
            }
          }
          .buttons {
            display: flex;
            align-items: center;
            gap: 10px;
            button {
              border: none;
              padding: 5px;
              color: white;
              cursor: pointer;
              &:first-child {
                background-color: #1c39bb;
              }
              &:last-child {
                background-color: #d2122e;
              }
            }
          }
        }
      }
    }
  }
}
